 <p class= "NewUsers-title">Sign-in!</p>
<h3 class= "NewUsers-SigninPrompt ">
  or, <%= link_to "sign-up here", new_user_path %>
</h3>

<section class="UsersNew">
    <%= form_with url: sessions_path do |form| %>
        <div class="Form-section" >
            <p class= "FormInput-label">Email</p>
            <%= form.email_field :email, class: "Form-input" %>
        </div>
        <div class="Form-section" >
            <p class= "FormInput-label" >Passoword</p>
            <%= form.password_field :password %>
        </div>
        <div class="Form-section">
            <%= form.submit value="Sign-in", class: "Form-submit" %>
        </div>
    <% end %>
</section>
