
<section class="MenuSection">
    <div class=MenuSectionTitle>
        <p class="MenuSectionTitle-text"><%= section_title %></h2>
    </div>
    <ul >
        <% menus.sort.each do |menu| %>
            <li class="MenuItem">
                <label class="MenuItem-container">
                    <%= menu.name %>
                </label>
                <label class="MenuItem-container" >
                    <p class="MenuItem-price">₹</p><%= menu.price %><p>

                    <%= button_to '+', "/menus/#{menu.id}" , method: :put, class: "MenuItem-qunatity" %>
                    <%= menu.quantity %>
                    <%= button_to '-', "/menus/#{menu.id}" , method: :delete, class: "MenuItem-qunatity" %>
                </label>
            </li>
        <% end %>
    </ul>
</section>
