<div class="MenuPage-encouragement">
    Here is our euphoric menu !
    <div class="MenuTotalPrice-andButton">
        <p class="Menu-Total">Total: ₹<%=Menu.menuTotal%><p>
        <%= form_with(url: "/final_user_page", method: "POST", class: "AddMenu") do %>
            <input class="AddMenu-button" type="submit" value="Place Order">
        <% end %>
    </div>
</div>

<main class="MenuPageMain">
    <article>
        <br></br>
            <%= render partial: "menu-section", locals: {
                    section_title: "Starters",
                    menus: Menu.is_starter
                }
            %>
            <%= render partial: "menu-section", locals: {
                    section_title: "Main-course",
                    menus: Menu.is_mainCourse
                }
            %>
             <%= render partial: "menu-section", locals: {
                    section_title: "Beverages",
                    menus: Menu.is_beverage
                }
            %>
    </article>
</main>
